.railWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  overflow: hidden;

  .emptyInfo {
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
  }

  .titlesContainer {
    display: flex;
    flex-direction: column;
    max-width: 45vw;
    position: relative;
    padding-top: 2.3rem;
    .carrousel {
      .imageTitle {
        width: 13rem;
        height: 18rem;
        object-fit: cover;
        margin-right: 1rem;
      }
    }
    .activeCarrousel {
      transition: transform 0.4s;
    }
    .activeTitleWrapper {
      position: absolute;
      left: -7px;
      top: 5.1rem;
      border: 3px solid white;
      width: 13.9rem;
      height: 18.8rem;
      z-index: 1;
    }
  }
  .sectionTitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .carrousel {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .videosContainer {
    display: flex;
    flex-direction: column;
    max-width: 45vw;
    position: relative;
    margin-top: 2rem;
    .carrousel {
      transition: transform 0.4s;
      figure {
        margin-right: 1rem;
        .videoImage {
          width: 18rem;
          height: 13rem;
          object-fit: cover;
        }
        figcaption {
          .figSource {
            font-size: 0.8rem;
            font-weight: lighter;
            text-transform: capitalize;
            margin-bottom: 0.3rem;
          }
          .figTitle {
            font-weight: bold;
            margin-bottom: 0.4rem;
          }
          .figTime {
            font-size: 0.8rem;
          }
        }
      }
      .activeVideoWrapper {
        position: absolute;
        left: -8px;
        top: 2.7rem;
        border: 3px solid white;
        width: 19rem;
        height: 18rem;
        z-index: 1;
      }
    }
  }
}
