.menuWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 15vw;
  border-right: 1px solid #ccc;

  .menuButton {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #000000;
    border: none;
    text-align: left;
    font-size: 1.3rem;
    padding: 1rem;

    &:last-child {
      font-size: 0.8rem;
      position: absolute;
      bottom: 2rem;
      align-self: center;
    }
    svg {
      margin-right: 0.4rem;
    }
  }
  &.menuWrapperExpand {
    .menuButtonActive {
      color: #000;
      background-color: #fff;
    }
  }
}
