.keyboardWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  .key {
    border: 1px solid #ccc;
    text-align: center;
    background-color: black;
    color: white;
    padding: 0.8rem;
    font-size: 1.1rem;
    &:nth-last-child(1),
    &:nth-last-child(2) {
      grid-column: span 3;
      padding: 1.2rem 0.8rem;
    }
  }
  &.keyboardActive {
    .activeKey {
      background-color: #fff;
      color: #000;
    }
  }
}
